@theme inline {
  /* border radius */
  --radius-0: var(--radius-0);
  --radius-0\.5: var(--radius-0\.5);
  --radius-1: var(--radius-1);
  --radius-1\.5: var(--radius-1\.5);
  --radius-2: var(--radius-2);
  --radius-3: var(--radius-3);
  --radius-4: var(--radius-4);
}

:root {
  /* border radius */
  --radius-0: 0rem; /* 0px */
  --radius-0\.5: 0.125rem; /* 2px */
  --radius-1: 0.25rem; /* 4px */
  --radius-1\.5: 0.375rem; /* 6px */
  --radius-2: 0.5rem; /* 8px */
  --radius-3: 0.75rem; /* 12px */
  --radius-4: 1rem; /* 16px */
}
